<!--<!DOCTYPE html>-->
<!--&lt;!&ndash;headTrap<body></body><head></head><html></html>&ndash;&gt;<html>-->
    <!--<head>-->
        <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />-->
<!--<meta name="apple-mobile-web-app-capable" content="yes">-->
<!--<meta name="apple-mobile-web-app-status-bar-style" content="black">-->
<!--<meta name="format-detection" content="telephone=no">-->


        <!--<title>分校活动</title>-->
        <!---->
 <!--<link href="moble.css" rel="stylesheet" type="text/css"/>-->

    <!--</head>-->
    <!--<body>-->
        <!---->
<!--<div>               -->
    <!--<p><span style="font-size: 14px;"><br/></span></p><p style="text-align: center;"><span style="font-size: 14px;">分校活动</span></p>-->
    <!--<p style="text-align: center;"></strong><img src="/{{ d2 }}"></p>-->
				<!---->
<!--</div>               -->
                <!---->

    <!--</body>-->
   <!---->
<!--</html>-->
<!--tailTrap<body></body><head></head><html></html>-->

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title>招生简章</title>
    <link rel="stylesheet" href="/static/css/moble.css">

</head>

<!--<div>               -->
    <!--&lt;!&ndash;<p><span style="font-size: 14px;"><br/></span></p><p style="text-align: center;"><span style="font-size: 14px;">招生简章</span></p>&ndash;&gt;-->
    <!--<p style="text-align: center;"></strong><img src="/{{ d1 }}"></p>-->
				<!---->
<!--</div>               -->
<body id="activity-detail" class="zh_CN mm_appmsg">

    <div id="js_article" class="rich_media">

        <div id="js_top_ad_area" class="top_banner"></div>

            <div class="rich_media_inner">

                <div id="page-content" class="rich_media_area_primary">

                    <div id="img-content">

                        <div class="rich_media_content " id="js_content">

                            <p></strong><img src="/{{ d2 }}"></p>


                        </div>

                     </div>

                 </div>
            </div>
    </div>


</body>

</html>
<!--tailTrap<body></body><head></head><html></html>-->