<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <script src="/static/js/jquery.min.js"></script>

    <title>张博士医考每日1题</title>
    <link rel="stylesheet" href="/static/css/moble.css">

    <script type="text/javascript">
        $(document).ready(function(e){
            $("#hide").click(function(){
                $("p").hide();
            });
            $("button").click(function(e){

                var answerID = 'answer' + $(e.target).attr("name")
                var analyzeID = 'analyze' + $(e.target).attr("name")
                $("#" + answerID).show();
                $("#" + analyzeID).show();
            });
        });
    </script>
</head>
<body id="activity-detail" class="zh_CN mm_appmsg">

    <div id="js_article" class="rich_media">

        <div id="js_top_ad_area" class="top_banner"></div>

            <div class="rich_media_inner">

                <div id="page-content" class="rich_media_area_primary">

                    <div id="img-content">

                        <div class="rich_media_content " id="js_content">

                            <p>
                                {% for i in list %}
                                <p><strong><span style="font-size: 14px;">{{ i.question }}</span></strong>
                                    <p><span style="font-size: 14px;">{{ i.opr_1 }}</span></p>
                                    <p><span style="font-size: 14px;">{{ i.opr_2 }}</span></p>
                                    <p><span style="font-size: 14px;">{{ i.opr_3 }}</span></p>
                                    <p><span style="font-size: 14px;">{{ i.opr_4 }}</span></p>
                                    <button name="{{i.id}}" type="button">显示答案</button>
                                    <p hidden id="answer{{i.id}}"><strong><span style="font-size: 14px;">{{ i.answer }}</span></strong></span></p>
                                    <p hidden id="analyze{{i.id}}"><span style="font-size: 14px;color: rgb(255, 76, 0);" >{{ i.analysis }}</span></p>
                                </p>
                                {% endfor %}
                             </p>


                        </div>

                     </div>

                 </div>
            </div>
    </div>
</body>

</html>
<!--tailTrap<body></body><head></head><html></html>-->