<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">


    <title>答题页面</title>
    <link rel="stylesheet" href="/static/css/moble.css">


</head>
<body id="activity-detail" class="zh_CN mm_appmsg">

    <div id="js_article" class="rich_media">

        <div id="js_top_ad_area" class="top_banner"></div>

            <div class="rich_media_inner">

                <div id="page-content" class="rich_media_area_primary">

                    <div id="img-content">

                        <div class="rich_media_content " id="js_content">
                            <h4><strong>欢迎{{ userName }}！下面请做题！</strong></h4>
                            </br>

                            <form action="/thankingPage/" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="userid" value="{{userID}}">
                                <input type="hidden" name="qaid" value="{{qaID}}">
                                <input type="hidden" name="token" value="{% csrf_token %}">
                                {% for i in list %}
                                <strong><span style="font-size: 14px;">{{ i.question }}</span></strong>
                                    </br>
                                    <input type="radio" name="{{i.id}}" value="A"><span style="font-size: 14px;">{{ i.opr_1 }}</span>
                                    </br>
                                    <input type="radio" name="{{i.id}}" value="B"><span style="font-size: 14px;">{{ i.opr_2 }}</span>
                                    </br>
                                    {% if i.opr_3 is not None and i.opr_3 != ''%}
                                        <input type="radio" name="{{i.id}}" value="C"><span style="font-size: 14px;">{{ i.opr_3 }}</span>
                                        </br>
                                    {% endif %}
                                    {% if i.opr_4 is not None and i.opr_4 != ''%}
                                        <input type="radio" name="{{i.id}}" value="D"><span style="font-size: 14px;">{{ i.opr_4 }}</span>
                                        </br>
                                    {% endif %}
                                    {% if i.opr_5 is not None and i.opr_5 != ''%}
                                        <input type="radio" name="{{i.id}}" value="E"><span style="font-size: 14px;">{{ i.opr_5 }}</span>
                                        </br>
                                    {% endif %}

                                    <!--
                                    <strong><span style="font-size: 14px;">{{ i.answer }}</span></strong></span>
                                    <span style="font-size: 14px;color: rgb(255, 76, 0);">{{ i.analysis }}</span>
                                    -->
                                    </br>
                                    </br>
                                {% endfor %}
                                <button type="submit">提交</button>
                            </form>
                        </div>

                     </div>

                 </div>
            </div>
    </div>
</body>
<script type="text/javascript">


</script>
</html>
<!--tailTrap<body></body><head></head><html></html>-->